@model IEnumerable<Trails.Models.Trail>

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Crear nueva Ruta Cesar222</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Portada
            </th>
            <th>
                Título
            </th>
            <th>
                Descripción
            </th>
            <th>
                Dificultad
            </th>
            <th>
                Distancia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (string.IsNullOrEmpty(item.ImageUrl))
                {
                        <img src="@Url.Content("https://trailsstorageaccount.blob.core.windows.net/thumbnails/default.jpg")" alt="images" />
                }
                else
                {
                        <img src="@Url.Content(item.ImageUrl.ToString().Replace("images", "thumbnails"))" alt="images" />
                }
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
